/* Google Font */
*{
    font-family: "Geist", sans-serif;
}

/* Open issue card */
.issue-card.open{
    border-top: 4px solid #22c55e; /* green */
}

/* Closed issue card */
.issue-card.closed{
    border-top: 4px solid #a855f7; /* purple */
}